@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- Theme Variables ------------------- */
@layer base {
  /* Light mode (default) */
  :root {
    --color-bg: #ffffff;
    --color-text: #111827;
    --color-primary: #aac2f6;
    --color-secondary: #6b7280;
    --color-border: #e5e7eb;
  }

  /* Dark mode */
  .dark {
    --color-bg: #111827;
    --color-text: #f9fafb;
    --color-primary: #053279;
    --color-secondary: #9ca3af;
    --color-border: #374151;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-fade {
  animation: slideFadeIn 1s ease-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}